<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{tutorial.title}">default title</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1 th:text="#{tutorial.h1}">default h1</h1>
        <h2 th:text="#{tutorial.info}">default h2</h2>
        <dl>
        <dt th:text="#{product.name}">default product name</dt>
        <dd th:text="${product.name}">default product name</dd>
        <dt th:text="#{product.price}">default product price</dt>
        <dd th:text="${product.price}">default product price</dd>
        <dt th:text="#{product.publish}">default product publish date</dt>
        <dd th:text="${product.publishDate}">default publish date</dd>
        </dl>
    </body>
</html>
